.entry-clock {
    --size: 10em;

    width: var(--size);
    height: var(--size);
    padding: 3px;
    border-radius: 100%;

    & .contents {
        height: 100%;
        justify-content: center;
        text-align: center;
        position: relative;

        & [role="entry-name"],
        & [role="entry-date"],
        & [role="entry-big-number"],
        & [role="subject-name"] {
            z-index: 2;
        }

        & [role="entry-big-number"] {
            font-size: 3em;
            font-weight: bold;
            font-family: var(--heading-font);
        }

        & [role="clock"] {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;

            & .clock-hand {
                transform-origin: center center;
                fill: var(--secondary);
            }
        }
    }
}
